.about {
    position: relative;
    padding-top: 72px;
    padding-bottom: 70px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), image-set(url("./../../img/about/about-bg.webp") 1x, url("./../../img/about/about-bg@2x.webp") 2x);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), -webkit-image-set(url("./../../img/about/about-bg.webp") 1x, url("./../../img/about/about-bg@2x.webp") 2x);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media (max-width: 1210px) {
          padding-bottom: 0px;

    }
}

.about-wrapper {
    max-width: 620px;

    @media (max-width: 767px) {
        max-width: 100%;
        width: 100%;
    }
}

.about__text {
    margin-bottom: 46px;
    font-size: 17px;
    line-height: 1.94;
    color: #fff;
}

.about__text p + p {
    margin-top: 22px;
}

.about__img {
    position: absolute;
    width: 555px;
    bottom: 0;
    left: 54%;

    @media (max-width: 1210px) {
        position: relative;
        top: 55px;
        left: 10px;
    }
    @media (max-width: 767px) {
        margin-left: -15px;
        width: 375px;
    }
    @media (max-width: 380px) {
        margin-left: -40px;
    }
}

.about__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}