.about {
    position: relative;
    padding-top: 72px;
    padding-bottom: 70px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), image-set(url("./../../img/about/about-bg.webp") 1x, url("./../../img/about/about-bg@2x.webp") 2x);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), -webkit-image-set(url("./../../img/about/about-bg.webp") 1x, url("./../../img/about/about-bg@2x.webp") 2x);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about-wrapper {
    max-width: 620px;
}

.about__text {
    margin-bottom: 46px;
    font-size: 17px;
    line-height: 1.94;
    color: #fff;
    letter-spacing: 1px;
}

.about__text p + p {
    margin-top: 22px;
}

.about__img {
    position: absolute;
    width: 555px;
    height: 623px;
    position: absolute;
    bottom: 0;
    left: 54%;
}

.about__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}