.advantages {
    padding-top: 17px;
    background-color: #fff;
}

.advantages-row {
    display: flex;
    justify-content: space-between;
    column-gap: 5px;

    @media (max-width: 1023px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
        justify-content: center;
    }
    @media (max-width: 620px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.advantage {
    width: calc(100% / 4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1023px) {
        justify-self: center;
        width: 310px;
    }
}

.advantage__img {
    margin-bottom: 24px;

    img {
        width: 100%;
        height: 140px;
        object-fit: contain;

        @media (max-width: 1479px) {
            height: remy(140);
        }

        @media (max-width: 1023px) {
            height: 140px;
        }
    }

    @media (max-width: 1479px) {
        margin-bottom: remy(24);
      }

      @media (max-width: 1023px) {
        margin-bottom: 24px;
    }
}

.advantage p {
    max-width: 215px;
    font-size: 17px;
    line-height: 1.94;
    text-align: center;
}