.autos {
  padding-bottom: 118px;
}

.autos-wrapper {
  margin-bottom: 70px;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.autos__text {
  max-width: 419px;
  margin-bottom: 37px;
  font-size: 17px;
  line-height: 1.94;

  p + p {
      margin-top: 20px;
  }
}

.autos-col {
  margin-top: 15px;
  width: 33.8%;
}

.autos-content {
  display: flex;
  column-gap: 97px;
}

.autos__text {

}

.autos__bg img {
  border-radius: 7px;
  box-shadow: 0 0 40px 1px rgba(0, 0, 0, 0.25);
}


// .auto-wrapper {
//     display: flex;
//     flex-wrap: wrap;
//     gap: 20px;
//     justify-content: center;
//     max-width: 1200px;
//     margin: 0 auto;
//   }

//   /* Первый ряд - 3 карточки */
//   .auto:nth-child(1),
//   .auto:nth-child(2),
//   .auto:nth-child(3) {
//     flex: 1 1 calc(33.333% - 40px);
//     min-width: 250px;
//   }

//   /* Второй ряд - 2 карточки */
//   .auto:nth-child(4),
//   .auto:nth-child(5) {
//     flex: 1 1 calc(50% - 30px);
//     min-width: 300px;
//   }

//   .auto {
//     background: white;
//     border-radius: 10px;
//     box-shadow: 0 4px 8px rgba(0,0,0,0.1);
//     overflow: hidden;
//     transition: transform 0.3s;
//   }

//   .auto:hover {
//     transform: translateY(-5px);
//   }

//   .auto img {
//     width: 100%;
//     height: 200px;
//     object-fit: cover;
//   }

  // .title {
  //   font-weight: bold;
  //   padding: 15px 15px 0;
  //   margin: 0;
  // }

  // .text {
  //   padding: 0 15px 15px;
  //   color: #666;
  //   margin: 5px 0 0;
  // }
