.autos {
  padding-bottom: 118px;

  .section-title {
    @media (max-width: 767px) {
      color: #fff;
    }
  }

  @media (max-width: 767px) {
    padding-bottom: 0px;
    padding-top: 80px;
    background-color:  #584340;
  }
}

.autos-wrapper {
  margin-bottom: 70px;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;

  @media (max-width: 1479px) {
    padding-inline: 15px;
    gap: remy(60);

    @media (max-width: 767px) {
      padding-inline: 0;
      flex-direction: column;
      row-gap: 40px;
      margin-bottom: 50px;
  }
}
}

.autos__text {
  max-width: 419px;
  margin-bottom: 37px;
  font-size: 17px;
  line-height: 1.94;

  p + p {
      margin-top: 20px;
  }

  @media (max-width: 899px) {
    max-width: 100%;

    @media (max-width: 767px) {
      color: #fff;
    }
}
}

.autos-col {
  margin-top: 15px;
  width: 33.8%;

  @media (max-width: 1479px) {
    margin-top: 0;
  }

  @media (max-width: 899px) {
    margin-bottom: 40px;
    width: 70%;

  @media (max-width: 767px) {
    width: 100%;
  }
}
}

.autos-content {
  position: relative;
  display: flex;
  column-gap: 97px;

  @media (max-width: 899px) {
    flex-direction: column;
    row-gap: 40px;
  }

  @media (max-width: 767px) {
    display: block;
  }

}

.autos__bg img {
  border-radius: 7px;
  box-shadow: 0 0 40px 1px rgba(0, 0, 0, 0.25);

  @media (max-width: 767px) {
    box-shadow: none;
    position: relative;
    z-index: 2;
  }
}

.autos__bg {
  @media (max-width: 1479px) {
    padding-inline: 15px;
  }

  @media (max-width: 767px) {
    padding-inline: 0;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: -15px;
      right: -15px;
      height: 50%;
      bottom: -1px;
      z-index: 1;
      background-color: #fff;
    }
  }
}
