.benefits {
    padding-bottom: 120px;

    @media (max-width: 767px) {
        padding-top: 170px;
    }

    @media (max-width: 767px) {
        padding-top: 80px;
    }

    @media (max-width: 374px) {
        padding-top: remy2(80);
    }
}

.benefits__title {
    margin-bottom: 137px;

    @media (max-width: 1479px) {
        margin-bottom: remy(137);
    }
}

.benefits__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 80px;

    @media (max-width: 1479px) {
        column-gap: remy(30);
        row-gap: remy(80);
    }

    @media (max-width: 767px) {
        display: none;
    }
}

.benefits-slider-wrapper {
    @media (min-width: 768px) {
        display: none;
    }
}

.benefits-slider {
    width: 70%;

    @media (max-width: 580px) {
        width: 100%;
    }
}

.benefits-slider .swiper-wrapper {
    padding-top: 60px;

    @media (max-width: 374px) {
        padding-top: 50px;
    }
}