.benefits {
    padding-bottom: 120px;
}

.benefits__title {
    margin-bottom: 137px;
}

.benefits-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 80px;
}

