.calculator {
    padding-block: 30px;
}

.calculator__title {
    margin-bottom: 50px;
}

.calculator-box {
    padding: 22px 20px 24px;
    border-radius: 5px;
    background: rgba(68, 166, 3, 0.17);
}

.dropdowns {
    margin-bottom: 21px;
    display: flex;
    column-gap: 21px;
}

.dropdown {
    position: relative;
}

.dropdown__button {
    flex-shrink: 0;
    display: block;
    position: relative;
    width: 284px;
    height: 55px;
    text-align: left;
    padding: 8px 13px;
    background-color: #fff;
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.4);
}

.dropdown__button span {
    pointer-events: none;
}

.dropdown__button::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: block;
    width: 15px;
    height: 15px;
    background-image: url(./../img/icons/arrow.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;
}

.dropdown__button--active::before {
    transform: rotate(-180deg) translateY(50%);

}

.dropdown__list {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #fff;
    overflow: hidden;
    border-radius: 5px;
    width: 100%;
    z-index: 1;
    font-size: 14px;
}

.dropdown__list--visible {
    display: block;
}

.dropdown__list-item {
    border-bottom: 0;
    padding: 10px 13px;
    cursor: pointer;
}

.dropdown__input-hidden {
    display: none;
}

.calculator__text {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 17px;
    line-height: 1.18;
}

.calculator-footer {
    display: flex;
    align-items: center;
    column-gap: 28px;
}

.calculator__result {
    border-radius: 5px;
    width: 81px;
    height: 55px;
    background-color: #584340;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 55px;
    text-align: center;
    color: #fff;

    span {
        margin-left: 5px;
        font-size: 17px;
    }
}

