.contacts-col {
    width: 48%;
    display: flex;
    flex-direction: column;
}

.contacts__list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 17px;
    min-height: 55px;
}

.contacts__list li + li {
    margin-top: 16px;
}

.contacts__links {
    a {
        white-space: nowrap;
        color: var(--accent-color);

        &:hover {
            text-decoration: underline;
        }
    }
    span {
        margin-inline: 5px;
    }
}

.contacts__social {
    display: flex;
    align-items: center;
    gap: 25px;
}

.contacts-col p {
    margin-top: auto;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 17px;
    line-height: 1.76;
    text-align: right;
}
