.delivery {
    margin-bottom: 100px;
}

.delivery-wrapper {
    position: relative;
    margin-bottom: 75px;

    @media (max-width: 767px) {
        padding-block: 56px;
        padding-inline: 11px;
        margin: 0 calc(-50vw + 50%);
        background-color: #dff0d4;
    }

    @media (max-width: 364px) {
        padding-block: remy2(56);
    }
}

.delivery-col {
    width: 55%;

    @media (max-width: 1023px) {
        width: 70%;
    }

    @media (max-width: 767px) {
        width: 100%;
    }
}

.delivery__text {
    max-width: 620px;
    margin-bottom: 42px;
    font-size: 17px;
    line-height: 1.99;

    p + p {
        margin-top: 20px;
    }

    @media (max-width: 1023px) {
        max-width: 100%;
    }

}

.delivery__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 619px;
    height: 540px;

    @media (max-width: 1479px) {
        width: remy(619);
        height: remy(540);
    }

    @media (max-width: 1023px) {
        position: relative;
        width: 354px;
        height: 325px;
    }

    @media (max-width: 374px) {
        width: remy2(354);
        height: remy2(325);
    }
}

.delivery__subtitle {
    margin-bottom: 40px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 25px;

    @media (max-width: 480px) {
        display: none;
    }
}

.districts-wrapper {
    margin-bottom: 38px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    // grid-template-rows: repeat(7, 1fr);
    gap: 18px;

    @media (max-width: 767px) {
        grid-template-columns: repeat(3, 1fr);
        gap: 18px;
    }
    @media (max-width: 480px) {
        margin-top: 43px;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 14px;
        row-gap: 19px;
    }
}

.district {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    padding-inline: 10px;
    border-radius: 5px;
    background: rgba(88, 67, 64, 0.12);
    font-size: 17px;
    text-align: center;

    @media (max-width: 1023px) {
        font-size: 14px;
    }
}

.district:last-child {
    grid-column: span 4;

    @media (max-width: 767px) {
        grid-column: span 2;
    }
}

.district:nth-last-child(2) {
    @media (max-width: 480px) {
        grid-column: span 2;
    }
}

.delivery__map {
    display: block;
    cursor: pointer;
    width: 100%;
    aspect-ratio: 155/83;
    border: none;

    iframe {
        width: 100%;
        height: 100%;
        border: 0;
        pointer-events: none;
    }
  }

