.delivery {
    padding-bottom: 100px;

    @media (max-width: 767px) {
        padding-bottom: 50px;
    }
}

.delivery-wrapper {
    position: relative;
    margin-bottom: 75px;

    @media (max-width: 767px) {
        padding-block: 56px;
        padding-inline: 11px;
        margin: 0 calc(-50vw + 50%);
        background-color: #dff0d4;
    }

    @media (max-width: 364px) {
        padding-block: remy2(56);
    }
}

.delivery-col {
    width: 55%;

    @media (max-width: 1023px) {
        width: 70%;
    }

    @media (max-width: 767px) {
        width: 100%;
    }
}

.delivery__text {
    max-width: 620px;
    margin-bottom: 42px;
    font-size: 17px;
    line-height: 1.99;

    p + p {
        margin-top: 20px;
    }

    @media (max-width: 1023px) {
        max-width: 100%;
    }

}

.delivery__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 619px;
    height: 540px;

    @media (max-width: 1479px) {
        width: remy(619);
        height: remy(540);
    }

    @media (max-width: 1023px) {
        position: relative;
        width: 354px;
        height: 325px;
    }

    @media (max-width: 374px) {
        width: remy2(354);
        height: remy2(325);
    }
}

.delivery__subtitle {
    margin-bottom: 40px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 25px;

    @media (max-width: 480px) {
        display: none;
    }
}

.districts-wrapper {
    width: 100%;
    margin-bottom: 38px;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;

    @media (max-width: 767px) {
        column-gap: 14px;
        row-gap: 19px;
    }
}

.districts-wrapper > :last-child {
    flex-grow: 1;

    @media (max-width: 767px) {
        width: 100%;
    }
}


.district {
    width: calc(((100% - (4 * 18px)) / 5));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    padding-inline: 10px;
    border-radius: 5px;
    background: rgba(88, 67, 64, 0.12);
    font-size: 17px;
    text-align: center;

    a {
        margin-left: 3px;
    }

    @media (max-width: 1023px) {
        font-size: 14px;
    }

    @media (max-width: 767px) {
         width: calc(((100% - 14px) / 2));
    }
}

.delivery-map {
    display: block;
    cursor: pointer;
    width: 100%;
    aspect-ratio: 2/1;
    border: none;
    overflow: hidden;

    iframe {
        display: block;
        object-fit: contain;
        width: 100%;
        height: 100%;
        border: 0;
        pointer-events: none;
    }


    @media (max-width: 934px) {
        height: 450px;
    }

    @media (max-width: 600px) {
        display: none;
    }
}

.delivery-map-mob {
    display: none;

    @media (max-width: 600px) {
        display: block;
    }
}

