.districts-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 18px;
}

.district {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    border-radius: 5px;
    background: rgba(88, 67, 64, 0.12);
}

.district.district-wide {
    grid-column: span 4 / span 4;
    grid-column-start: 2;
    grid-row-start: 7;
    text-align: center;
}