.faq {
    margin-bottom: 80px;
}
.faq-list__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.17);
    transition: 0.5s;
    cursor: pointer;
    min-height: 55px;
}

.faq-list__header.show {
    border-bottom: 1px solid #44a603;

    .faq-list__title {
        font-weight: 700;
        color: var(--accent-color);
    }

    .arrow svg {
        color: var(--accent-color);
        transform: rotate(90deg);
    }
}

.faq-list__title {
    font-size: 20px;
    line-height: 1.94;
}

.arrow {
    width: 40px;
    height: 40px;

    svg {
        transition: 0.3s ease-out;
        color: rgba(88, 67, 64, 0.32);
        width: 100%;
        height: 100%;
    }
}

.faq-list__content {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-out;
    border-radius: 7px;
    display: block;

    p {
        margin-block: 13px;
        padding: 20px;
        padding-right: 50px;
        line-height: 1.81;
        background-color: rgba(217, 217, 217, 0.15);
        border-radius: 7px;
    }
}

