.footer {
    display: flex;
    justify-content: center;
    padding-block: 15px;
    background-color: var(--accent-color);
}

.footer__text {
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 1.42;
}