/* ======== header top ========= */
.header-wrapper {
    display: flex;
    column-gap: 52px;
}

.header-contacts, .header-btns {
    display: flex;
    align-items: center;
}

.header-contacts {
    column-gap: 35px;
}

.header-btns {
    column-gap: 27px;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    flex-shrink: 0;
}

.contact-link {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 15px;
    color: #1e1e1e;
    white-space: nowrap;

    &:hover {
        color: var(--accent-color);
    }
}

.contact-link:not(:last-child) {
    margin-bottom: 5px;
}

.social-block {
    display: flex;
    column-gap: 12px;
}

.social-link {
    &:hover {
        transform: scale(1.02);
    }
}

/* ======== header menu ========= */
.header-menu {
    padding-block: 19px;
    background-color: var(--accent-color);
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
        font-size: 17px;
        color: #fff;
        white-space: nowrap;

        &:hover {
            text-shadow: 0 0 1px #fff;
        }
    }
}