.hero {
    position: relative;
    height: 721px;
    background-color: #fff;
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(./../../img/hero/hero-bg@2x.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 7;

    @media (max-width: 1479px) {
        height: remy(721);
    }

    @media (max-width: 1023px) {
        height: 550px;
     }

    @media (max-width: 767px) {
        height: 850px;
     }

    @media (max-width: 375px) {
        height: 808px;
    }
}

.hero::after {
    content: '';
    background-image: url(../../img/hero/clouds@2x.webp);
    background-size: cover;
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    width: 100%;
    aspect-ratio: 1480/250;
    z-index: 2;

    @media (max-width: 1479px) {
        height: remy(250);
     }

     @media (max-width: 1023px) {
        height: 150px;
     }

     @media (max-width: 767px) {
        height: 250px;
        background-position-x: center;
     }

}

.hero-wrapper {
    position: relative;
    z-index: 7;
}

.hero-content {
    padding-top: 96px;
    width: 55.2%;

    @media (max-width: 1479px) {
        padding-top: remy(96);
     }

     @media (max-width: 767px) {
        padding-top: 32px;
        width: 90%;
     }
     @media (max-width: 375px) {
        width: 100%;
     }
}

.hero__title {
    margin-bottom: 18px;

    @media (max-width: 375px) {
        margin-bottom: 38px;
    }
}

.hero__text {
    width: 63.6%;
    margin-bottom: 41px;
    font-size: 25px;
    line-height: 1.6;
    color: #fff;

    @media (max-width: 1479px) {
       font-size: remy(25);
       margin-bottom: remy(41);
    }

    @media (max-width: 1023px) {
        margin-bottom: 23px;
        font-size: 17px;
    }

    @media (max-width: 767px) {
        line-height: 2.06;
        width: 291px;
    }
}

.hero__calc {
    display: flex;
    align-items: center;
    column-gap: 35px;

    @media (max-width: 1479px) {
        column-gap: remy(35);
    }

    @media (max-width: 1190px) {
        align-items: flex-start;
        flex-direction: column;
        row-gap: 14px;
    }

    @media (max-width: 767px) {
        row-gap: 21px;
    }
}

.hero__info {
    font-size: 17px;
    color: #66FF00;
    line-height: 1;
}

.hero__images {
    position: absolute;
    top: 2px;
    right: 0px;
    z-index: 5;

     @media (max-width: 1338px) {
       right: 30px;
      }

      @media (max-width: 1023px) {
        top: 40px;
       }

    @media (max-width: 767px) {
        top: 14px;
        position: relative;
        right: -105px;
        width: 238px;
        height: 316px;
    }

    @media (max-width: 374px) {
        top: remy2(14);
        right: remy2(-105);
        width: remy2(238);
        height: remy2(316);
    }
}

.hero__firewood {
    width: 495px;
    height: 557px;

    @media (max-width: 1479px) {
        width: remy(495);
        height: remy(557);
      }

     @media (max-width: 767px) {
        width: 238px;
        height: 316px;
    }

    @media (max-width: 374px) {
        width: remy2(238);
        height: remy2(316);
    }
}

.hero__cone-lg {
    position: absolute;
    width: 296px;
    height: 368px;
    bottom: 2%;
    left: -48%;
    z-index: 7;
    overflow: hidden;

    @media (max-width: 1479px) {
        width: remy(296);
        height: remy(368);
      }

    @media (max-width: 767px) {
        width: 132px;
        height: 160px;
        bottom: 56px;
        left: -109px;
    }

    @media (max-width: 374px) {
        width: remy2(132);
        height: remy2(160);
        bottom: remy2(56);
        left: remy2(-109);
    }

}

.hero__cone-md {
    position: absolute;
    width: 230px;
    height: 207px;
    top: 51%;
    right: -7%;
    z-index: 7;
    overflow: hidden;

    @media (max-width: 1479px) {
        width: remy(230);
        height: remy(207);
      }

    @media (max-width: 767px) {
        width: 79px;
        height: 72px;
        bottom: 0;
        right: 0;
    }

    @media (max-width: 374px) {
        width: remy2(79);
        height: remy2(72);
    }
}

.hero__cone-sm {
    width: 180px;
    height: 176px;
    position: absolute;
    top: 6%;
    left: -18%;
    z-index: 7;
    overflow: hidden;

    @media (max-width: 1479px) {
        width: remy(180);
        height: remy(176);
      }

    @media (max-width: 767px) {
        width: 83px;
        height: 135px;
        top: 6px;
        left: -39px;
    }

    @media (max-width: 374px) {
        width: remy2(83);
        height: remy2(135);
        top: remy2(6);
        left: remy2(-39);
    }
}
