.hero {
    position: relative;
    height: 721px;
    background-color: #fff;
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(./../../img/hero/hero-bg@2x.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media (max-width: 1400px) {
        height: 680px;
     }
}

.hero::after {
    content: '';
    background-image: url(../../img/hero/clouds@2x.webp);
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 250px;
    z-index: 9;

    @media (max-width: 1479px) {
        height: remy(250);
     }
}

.hero-wrapper {
    position: relative;
}

.hero-content {
    padding-top: 96px;
    width: 55.2%;

    @media (max-width: 1479px) {
        padding-top: remy(96);
     }

    //  @media (max-width: 1023px) {
    //     width: 58%;
    //  }

     @media (max-width: 767px) {
        width: 90%;
     }
     @media (max-width: 375px) {
        width: 100%;
     }
}

.hero__title {
    margin-bottom: 18px;
}

.hero__text {
    width: 63.6%;
    margin-bottom: 41px;
    font-size: 25px;
    line-height: 1.6;
    color: #fff;

    @media (max-width: 1479px) {
       font-size: remy(25);
       margin-bottom: remy(41);
    }

    @media (max-width: 1023px) {
        font-size: 17px;
    }
}

.hero__calc {
    display: flex;
    align-items: center;
    column-gap: 35px;

    @media (max-width: 1479px) {
        column-gap: remy(35);
    }

    @media (max-width: 1190px) {
        align-items: flex-start;
        flex-direction: column;
        row-gap: 14px;
    }
}

.hero__info {
    // margin-left: 35px;
    font-size: 17px;
    color: #66FF00;
    line-height: 1;

    // @media (max-width: 1479px) {
    //     margin-left: remy(35);
    //   }
}

.hero__images {
    position: absolute;
    top: 2px;
    right: 0px;

     @media (max-width: 1338px) {
       right: 30px;
      }

      @media (max-width: 1023px) {
        top: 40px;
       }

    @media (max-width: 767px) {
        position: relative;
        // right: unset;
        // top: unset;
        // width: 100%;
    }
}

.hero__firewood {
    width: 495px;
    height: 557px;

    @media (max-width: 1479px) {
        width: remy(495);
        height: remy(557);
      }
}

.hero__cone-lg {
    position: absolute;
    width: 296px;
    height: 368px;
    bottom: 2%;
    left: -48%;
    z-index: 7;
    overflow: hidden;

    @media (max-width: 1479px) {
        width: remy(296);
        height: remy(368);
      }
}

.hero__cone-md {
    position: absolute;
    width: 230px;
    height: 207px;
    top: 51%;
    right: -7%;
    z-index: 7;
    overflow: hidden;

    @media (max-width: 1479px) {
        width: remy(230);
        height: remy(207);
      }
}

.hero__cone-sm {
    width: 180px;
    height: 176px;
    position: absolute;
    top: 6%;
    left: -18%;
    z-index: 7;
    overflow: hidden;

    @media (max-width: 1479px) {
        width: remy(180);
        height: remy(176);
      }
}
