.hero {
    position: relative;
    height: 721px;
    background-color: #fff;
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(./../../img/hero/hero-bg@2x.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero::after {
    content: '';
    background-image: url(../../img/hero/clouds@2x.webp);
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 250px;
    z-index: 9;
}

.hero-wrapper {
    position: relative;
}

.hero-content {
    padding-top: 96px;
    width: 55.2%;
}

.hero__title {
    margin-bottom: 18px;
}

.hero__text {
    width: 63.6%;
    margin-bottom: 41px;
    font-size: 25px;
    line-height: 1.6;
    color: #fff;
}

.hero__info {
    margin-left: 35px;
    font-size: 17px;
    color: #66FF00;
    line-height: 1;
}

.hero__images {
    position: absolute;
    top: 2px;
    right: 0px;
}

.hero__cone-lg {
    position: absolute;
    width: 296px;
    height: 368px;
    bottom: 2%;
    left: -48%;
    z-index: 7;
}

.hero__cone-md {
    position: absolute;
    width: 230px;
    top: 51%;
    right: -7%;
    z-index: 7;
}

.hero__cone-sm {
    width: 180px;
    position: absolute;
    top: 6%;
    left: -18%;
    z-index: 7;
}
