.info {
    padding-block: 86px;
}

.info__title {
    margin-bottom: 22px;

    @media (max-width: 767px) {
        margin-bottom: 10px;
    }
}

.info__text {
    font-size: 17px;
    line-height: 1.94;

    @media (max-width: 767px) {
        font-size: 15px;
        line-height: 1.87;
      }
}