.production {
    padding-block: 121px;
}

.production__title {
    margin-bottom: 85px;

    @media (max-width: 1200px) {
        margin-bottom: 30px;
    }
}

.production-videos {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 47px;

    @media (max-width: 1032px) {
        align-items: flex-start;
        flex-direction: column;
        row-gap: 50px;
    }
}

.production__subtitle {
    margin-bottom: 27px;
}

.production-video__box {
    width: 596px;
    height: 339px;
    flex-shrink: 0;
    border-radius: 7px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @media (max-width: 1310px) {
        width: remy(596);
        height: remy(339);
    }

    @media (max-width: 1032px) {
        width: 596px;
        height: 339px;
    }

    @media (max-width: 767px) {
        width: 355px;
        height: 202px;
    }
    @media (max-width: 380px) {
        width: 100%;
    }
}

.slider-wrapper {
    position: relative;
}

.swiper.production-slider {
    @media (max-width: 1320px) {
        width: 80%;
    }

    @media (max-width: 664px) {
        width: 60%;
    }

    @media (max-width: 480px) {
        width: 100%;
    }

}

.swiper-wrapper {
    width: 100%;
}

.swiper.production-slider .swiper-slide {
    width: 309px;
    display: flex;
}

.slider-prev,
.slider-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: .3s;
    background-color: var(--accent-color);
    z-index: 7;

    &:hover {
        background-color: lighten($color: #44a603, $amount: 5%);
        ;
    }

    @media (max-width: 480px) {
        width: 30px;
        height: 30px;

        svg {
            width: 20px;
            height: 20px;
        }
    }
}

.slider-prev {
    left: -2%;

    @media (max-width: 1320px) {
        left: 6%;
    }
    @media (max-width: 664px) {
        left: 1%;
    }
}

.slider-next {
    right: -2%;

    @media (max-width: 1320px) {
        right: 6%;
    }

    @media (max-width: 664px) {
        right: 1%;
    }
}

.production-slider .swiper-slide,
.reviews-photo-slider .swiper-slide {
    padding: 10px;
    height: 210px;
    background-color: #fff;

    @media (max-width: 664px) {
        padding: 0;
    }
}

.production-slider .swiper-slide img,
.reviews-photo-slider .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}