.products {
    padding-top: 50px;
    padding-bottom: 108px;
}

.products__title {
    margin-bottom: 50px;
}

/* ======== products slider ========= */

.swiper.products-slider {
    @media (max-width: 1369px) {
        width: 810px;
    }
    @media (max-width: 925px) {
        width: 380px;
    }
    @media (max-width: 440px) {
        width: 355px;
    }
    @media (max-width: 375px) {
        width: 100%;
    }
}

.products-slider .swiper-wrapper {
    padding-bottom: 0;

    @media (min-width: 1370px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        justify-items: stretch;
        align-items: stretch;
    }

}

.products-slider .swiper-slide {
    @media (min-width: 1370px) {
        width: auto!important;
        margin-right: 0!important;
        height: auto;
        display: flex;
    }

    @media (max-width: 1369px) {
        // width: 380px!important;
        height: 544px!important;
    }
}

.products-slider-top {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    column-gap: 15px;

    span {
        margin-bottom: 15px;
        font-size: 15px;
    }

    @media (min-width: 1370px) {
        display: none;
    }
}


.products-slider-controls {
    display: flex;
    column-gap: 44px;
}

.products-slider
.swiper-pagination
.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: rgba(68, 166, 3, 0.8);
}

.products-slider
.swiper-pagination {
    position: relative;
    display: flex;
    align-items: center;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: auto;
    left: auto;
    width: unset;
}

.products-slider
.swiper-pagination
.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--accent-color);
}

.slider-pr-prev,
.slider-pr-next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 35px;
    cursor: pointer;

    svg {
        width: 20px;
        height: 23px;
        color:  #000;
    }

    &:hover {
        svg {
            color:  var(--accent-color);
        }
    }
}