.production__title {
    margin-bottom: 40px;
}

.production-videos {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    column-gap: 47px;
}

.production-video__title, .production-photo__title {
    margin-bottom: 20px;
}

.production-video__box {
    flex-shrink: 0;
    width: 596px;
    height: 339px;
    border-radius: 7px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.slider-wrapper {
    position: relative;
    // padding: 0 80px;
}

// .production-slider {
//     width: 1420px;
// }

.swiper-wrapper {
    width: 100%;
}

.swiper-slide {
    width: 309px;
    display: flex;
    // align-items: center;
    // justify-content: center;
}

.slider-prev, .slider-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: .3s;
    background-color: var(--accent-color);
    z-index: 7;

    &:hover {
        background-color: lighten($color: #44a603, $amount: 5%);;
    }
}

.slider-prev {
    left: -2%;
}

.slider-next {
    right: -2%;
}

.production-slider .swiper-slide,
.testimonials-photo-slider .swiper-slide {
    height: 210px;
}

.production-slider .swiper-slide img,
.testimonials-photo-slider .swiper-slide img {
    border: 10px solid #fff;
    width: 100%;
    height: 100%;
    object-fit: cover;
}