.rating__title {
    font-weight: 700;
    font-size: 23px;
    line-height: 1.43;
    text-align: center;
}

.rating-text {
    font-family: var(--font-family);
    font-size: 20px;
    text-align: center;
    color: #fff;
}

.stars-rating-wrapper {
    position: relative;
    width: 145px;
}

.stars-rating-disabled, .stars-rating-accent {
    width: 100%;
    height: 28px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='29' height='28' viewBox='0 0 29 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14.2656 0L17.6333 10.3647H28.5315L19.7147 16.7705L23.0824 27.1353L14.2656 20.7295L5.44885 27.1353L8.81656 16.7705L-0.00022316 10.3647H10.8979L14.2656 0Z' fill='%23D9D9D9'/%3e%3c/svg%3e ");
    background-repeat: repeat-x;
}

.stars-rating-accent {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='29' height='28' viewBox='0 0 29 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14.2656 0L17.6333 10.3647H28.5315L19.7147 16.7705L23.0824 27.1353L14.2656 20.7295L5.44885 27.1353L8.81656 16.7705L-0.00022316 10.3647H10.8979L14.2656 0Z' fill='%23F8EE00'/%3e%3c/svg%3e ");
}