/* ======== rating ========= */

.rating {
    padding-top: 62px;
    padding-bottom: 90px;
}

.section-wrapper {
    display: flex;
    justify-content: center;
}

.rating-wrapper {
    margin-left: 83px;
    display: flex;
    flex-direction: column;
    gap: 35px;

    @media (max-width: 892px) {
        margin-left: unset;
        justify-content: center;
    }
}

.rating__title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 23px;
    line-height: 1.43;

    @media (max-width: 892px) {
        text-align: center;
    }
}

.rating-row {
    display: inline-flex;
    align-items: center;

    @media (max-width: 892px) {
        flex-direction: column;
        row-gap: 42px;
    }
}

.rating-text {
    font-family: var(--font-family);
    font-size: 20px;
    text-align: center;
    color: #fff;
}

.rating-block {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-inline: 20px;
    border-radius: 5px;
    width: 415px;
    height: 60px;
    background-color: var(--accent-color);

    @media (max-width: 475px) {
      flex-direction: column;
      width: 244px;
      height: 131px;
      justify-content: center;
      row-gap: 20px;
    }
}

.rating-stars {
    display: flex;
    align-items: center;
    gap: 8px;
}

svg.svg-star {
    width: 29px;
    height: 28px;
    color: white;
}

svg.svg-star.disabled {
    color: red;
}

.rating-icons {
    position: relative;
    z-index: 2;
    left: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    height: 47px;

    img {
        height: 47px;
        object-fit: contain;
    }

    a:hover {
        scale: 1.1;
    }


    @media (max-width: 892px) {
        left: unset;
    }
}