/* ======== reviews video ========= */
.reviews__title .section-title {
    margin-bottom: 60px;
}

.reviews-videos {
    margin-bottom: 53px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 24px;

    @media (max-width: 1479px) {
        column-gap: remy(24);
    }

    @media (max-width: 767px) {
        column-gap: 0;
        align-items: flex-start;
        flex-direction: column;
        row-gap: 50px;
    }
}

.reviews-video {
    width: 32%;

        @media (max-width: 767px) {
        width: 100%;
    }
}

.reviews-video__box {
    width: 100%;
    flex-shrink: 0;
    border-radius: 7px;
    overflow: hidden;
      aspect-ratio: 16/9;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @media (max-width: 767px) {
        width: 355px;
        height: 202px;
    }
    @media (max-width: 380px) {
        width: 100%;
    }
}

.reviews-videos__title {
    margin-bottom: 25px;
}

/* ======== reviews photo slider ========= */

.reviews-photo-slider .swiper-slide {
    padding: 10px;
    background-color: #fff;
    height: 210px;
}

.reviews-photo-slider .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ======== reviews text slider ========= */

.reviews-social {
    padding-top: 25px;
    margin-bottom: 73px;
    position: relative;

    @media (max-width: 767px) {
        padding-block: 73px;
        padding-inline: 11px;
        margin: 0 calc(-50vw + 50%);
        background-color: rgba(4, 119, 254, 0.18);;
    }
}

.section-subtitle.subtitle-rew  {
    position: relative;
    bottom: -30px;
}

.reviews-txt-slider {
    padding-top: 50px;
    position: relative;
}

.txt-slider-controls  > * {
    flex-shrink: 0;
}

.reviews-txt-slider
.swiper-pagination
.swiper-pagination-bullet {
    background-color: rgba(4, 119, 254, 0.8);
}

.reviews-txt-slider
.swiper-pagination {
    position: relative;
    display: flex;
    align-items: center;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: auto;
    left: auto;
    width: unset;
}

.reviews-txt-slider
.swiper-pagination
.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #0477fe;
}

.txt-slider-controls {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    gap: 10px;

    @media (max-width: 767px) {
        position: relative;
        margin-bottom: 30px;
    }

    @media (max-width: 374px) {
        gap: 30px;
    }

    .swiper-pagination {
        @media (max-width: 374px) {
            display: none;
        }
    }
}

.slider-txt-prev,
.slider-txt-next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 35px;
    cursor: pointer;

    svg {
        width: 20px;
        height: 23px;
        color:  #0477fe;
    }

    &:hover {
        svg {
            color: red;
        }
    }

    @media (max-width: 767px) {
        width: unset;
    }
}

.review {
    width: 88%;

    p {
        overflow: hidden;
        line-height: 1.81;
        min-height: 120px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;

        @media (max-width: 767px) {
            min-height: 275px;
            font-size: 16px;
            line-height: 2.07;
            -webkit-line-clamp: 8;
        }

        @media (max-width: 525px) {
            min-height: 317px;
            font-size: 14px;
        }
    }

    p + p {
        margin-top: 1em;
    }

    a {
        margin-top: 40px;
        font-family: var(--second-family);
        font-weight: 700;
        line-height: 1.81;
        text-transform: uppercase;
        color: #0477fe;
    }

    @media (max-width: 525px) {
        width: 100%;
    }
}

.btn-wrapper {
    position: absolute;
    bottom: -20px;
    right: 0;
    z-index: 2;

    @media (max-width: 767px) {
        margin-top: 30px;
        position: relative;
        bottom: 0;
    }
}

/* ======== reviews logo slider ========= */

.reviews-logos {
    padding-bottom: 60px;

    @media (max-width: 767px) {
        padding-block: 40px;
    }

    @media (max-width: 374px) {
        padding-block: remy2(40);
    }
}

.reviews-logo-slider {
    @media (max-width: 767px) {
        display: none;
    }
}

.reviews-logos-mob .rating-icons {
    display: none;
    @media (max-width: 767px) {
        display: flex;
        column-gap: 40px;
    }

    @media (max-width: 374px) {
        column-gap: remy2(40);
    }
}

.reviews-logo-slider .swiper-wrapper {
    display: flex;
}

.reviews-logo-slider .swiper-slide .logo {
    display: flex;
    justify-content: end;
    height: 100px;
}

.reviews-logo-slider .swiper-slide .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* ======== reviews media ========= */

.reviews-media {
    margin-bottom: 114px;
    display: flex;
    column-gap: 41px;

    @media (max-width: 1023px) {
        flex-direction: column;
        row-gap: 30px;
    }
}

.media-text {
    display: flex;
    flex-direction: column;
    width: 26.7%;

    @media (max-width: 1023px) {
        width: 70%;
    }

    @media (max-width: 525px) {
        width: 100%;
    }
}

.media-text .section-subtitle {
    margin-bottom: 35px;

    @media (max-width: 1479px) {
        margin-bottom: remy(35);
    }

    @media (max-width: 1023px) {
        margin-bottom: 35px;
    }
}

.media-text p {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.71;

    a {
        text-decoration: underline;
    }

    @media (max-width: 1479px) {
        font-size: remy(17);
    }

    @media (max-width: 1023px) {
        font-size: 17px;
    }
}

.pr-30 {
    padding-right: 30px;
}

.accent-block {
    margin-top: 40px;
    padding: 22px 30px 40px 25px;
    border-radius: 7px;
    background-color: rgba(255, 0, 15, 0.14);

    a {
        text-decoration: underline;
    }

    @media (max-width: 1023px) {
        display: none;
    }
}

.accent-block-mob {
    display: none;
    font-size: 17px;
    line-height: 1.71;
    width: 70%;
    padding: 22px 30px 40px 25px;
    border-radius: 7px;
    background-color: rgba(255, 0, 15, 0.14);

    a {
        text-decoration: underline;
    }

    @media (max-width: 1023px) {
        display: block;
    }

    @media (max-width: 525px) {
        width: 100%;
    }
}

.media-video {
    flex-shrink: 0;
    width: 69.9%;
    aspect-ratio: 16/9;

    @media (max-width: 525px) {
        width: 100%;
    }
}

.media-video__box img {
    border-radius: 7px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}