/* ======== reviews video ========= */
.reviews__title .section-title {

margin-bottom: 60px;
}

.reviews-videos {
    margin-bottom: 53px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 24px;

    @media (max-width: 1479px) {
        column-gap: remy(24);
    }

    @media (max-width: 767px) {
        column-gap: 0;
        align-items: flex-start;
        flex-direction: column;
        row-gap: 50px;
    }
}

.reviews-video {
    width: 32%;

        @media (max-width: 767px) {
        width: 100%;
    }
}

.reviews-video__box {
    width: 100%;
    flex-shrink: 0;
    border-radius: 7px;
    // width: 397px;
    // height: 226px;
    overflow: hidden;
      aspect-ratio: 16/9;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @media (max-width: 767px) {
        width: 355px;
        height: 202px;
    }
    @media (max-width: 380px) {
        width: 100%;
    }
}

.reviews-videos__title {
    margin-bottom: 25px;
}

/* ======== reviews photo slider ========= */

.reviews-photo-slider .swiper-slide {
    padding: 10px;
    background-color: #fff;
    height: 210px;
}

.reviews-photo-slider .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* ======== reviews text slider ========= */

.reviews-social {
    padding-top: 25px;
    margin-bottom: 73px;
    position: relative;
}

.section-subtitle.subtitle-rew  {
    position: relative;
    bottom: -30px;
}

.reviews-txt-slider {
    padding-top: 50px;
    position: relative;
}

.txt-slider-controls  > * {
    flex-shrink: 0;
}

.reviews-txt-slider
.swiper-pagination
.swiper-pagination-bullet {
    background-color: rgba(4, 119, 254, 0.8);
}

.reviews-txt-slider
.swiper-pagination {
    position: relative;
    display: flex;
    align-items: center;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: auto;
    left: auto;
    width: unset;
}

.reviews-txt-slider
.swiper-pagination
.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #0477fe;
}

.txt-slider-controls {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    gap: 10px;
}

.slider-txt-prev,
.slider-txt-next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 35px;
    cursor: pointer;

    svg {
        width: 20px;
        height: 23px;
        color:  #0477fe;
    }

    &:hover {
        svg {
            color: red;
        }
    }
}

.review {
    width: 88%;

    p {
        overflow: hidden;
        line-height: 1.81;
        min-height: 120px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
    }

    p + p {
        margin-top: 1em;
    }

    a {
        margin-top: 40px;
        font-family: var(--second-family);
        font-weight: 700;
        line-height: 1.81;
        text-transform: uppercase;
        text-decoration: underline;
        color: #0477fe;
    }
}

.btn-wrapper {
    position: absolute;
    bottom: -20px;
    right: 0;
    z-index: 2;
}

/* ======== reviews logo slider ========= */

.reviews-logos {
    margin-bottom: 60px;
}

.reviews-logo-slider .swiper-wrapper {
    display: flex;
    // justify-content: center;
    // align-items: center;
}

.reviews-logo-slider .swiper-slide {
    // height: 100px;
}

.reviews-logo-slider .swiper-slide .logo {
    display: flex;
    justify-content: end;
    height: 100px;
}

.reviews-logo-slider .swiper-slide .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* ======== reviews media ========= */

.reviews-media {
    margin-bottom: 114px;
    display: flex;
    column-gap: 41px;
}

.media-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 26.7%;
}

.media-text p {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.71;

    a {
        text-decoration: underline;
    }
}

.pr-30 {
    padding-right: 30px;
}

.accent-block {
    // margin-top: 30px;
    padding: 22px 30px 40px 25px;
    border-radius: 7px;
    background-color: rgba(255, 0, 15, 0.14);
}

.media-video {
    flex-shrink: 0;
}

.media-video__box img {
    border-radius: 7px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}