.testimonials-videos {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.production-video__box {
    flex-shrink: 0;
    border-radius: 7px;
    width: 397px;
    height: 226px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.testimonials-videos__title {
    margin-bottom: 20px;
}
