.testimonials-videos {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.testimonials-video__box {
    flex-shrink: 0;
    border-radius: 7px;
    width: 397px;
    height: 226px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.testimonials-videos__title {
    margin-bottom: 20px;
}

.testimonials-photo-slider .swiper-slide {
    height: 210px;
}

.testimonials-photo-slider .swiper-slide img {
    border: 10px solid #fff;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonials-logo-slider .swiper-wrapper {
    display: flex;
    align-items: center;
}

.testimonials-media {
    display: flex;
    column-gap: 41px;
}

.media-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 26.7%;
}

.media-text p {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.71;

    a {
        text-decoration: underline;
    }
}

.pr-30 {
    padding-right: 30px;
}

.accent-block {
    // margin-top: 30px;
    padding: 22px 30px 40px 25px;
    border-radius: 7px;
    background-color: rgba(255, 0, 15, 0.14);
}

.media-video {
    flex-shrink: 0;
}

.media-video__box img {
    border-radius: 7px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}