// ABOUT
section.about
    .container
        .about-wrapper
            .about__title
                h2.section-title.section-title--white Про компанию Дрова72
            .about__text
                p Компания "Дрова72" является лидером по производству и продаже дров в Тюмени. Наше основное преимущество это высокий сервис на всех этапах обслуживания клиента: от принятия заказа по телефону до выгрузки дров покупателю, а именно 98% довольных покупателей (на основе еженедельных опросов).
                p Для обеспечения большого спроса у нас имеется дровокольная линия, которая производит до 50 кубов колотых дров за одну смену. Для оперативной доставки в штате компании есть три грузовых автомобиля Газель, грузоподъёмностью до 3,5 тонн и погрузчик до 3х тонн для быстрой разгрузки сырья и погрузки пиломатериалов.
            .about__btn
                .btn.btn--calc
                    span Рассчитать стоимость
                    img(src="./img/hero/btn-img.webp" srcset="./img/hero/btn-img@2x.webp 2x" alt="wood", width="93", height="73")
            .about__img
                img(src="./img/about/man.webp" srcset="./img/about/man@2x.webp 2x" alt="man", width="555", height="623")
