// ADVANTAGES
section.advantages.none
    .container
        .advantages-row
            .advantage
                .advantage__img
                    img(src="./img/advantages/01.webp", alt="img", width="216", height="140")
                .advantage__text Укладка в кузов рядами⇒ Доставка от 3 часов
            .advantage
                .advantage__img
                    img(src="./img/advantages/02.webp", alt="img", width="172", height="126")
                .advantage__text Скидки пенсионерам, инвалидам и ветеранам
            .advantage
                .advantage__img
                    img(src="./img/advantages/03.webp", alt="img", width="193", height="140")
                .advantage__text Длина полена под заказ, 25-60 см. Стандарт 40 см.
            .advantage
                .advantage__img
                    img(src="./img/advantages/04.webp", alt="img", width="172", height="140")
                .advantage__text Оплата после проверки объёма в кузове
