// AUTOS
section.autos
    .container
        h2.section-title Наши автомобили
        .auto-wrapper
            .auto
                .auto__img
                    img(src="./img/auto/auto1.webp" srcset="./img/auto/auto1@2x.webp" alt="auto" width="370" height="275" loading="lasy")
                h3.auto__name Газель удлиненная
                .auto__desc до 2,5 тонн, 4 куб дров
