// BENEFITS
section.benefits
    .container
        .benefits__title
            h2.section-title Почему нас выбрали уже #[span 47364] клиента?
        // СЕТКА НА БОЛЬШИХ ЭКРАНАХ
        .benefits__content
            +benefit("benefit01", "Честный объём", 'Вы получите дрова, а не воздух потому что мы валом. Никаких пустот и "колодцев" посередине машины, без обмана. Продаем в складочных кубометрах, укладка средняя, не сильно плотная')
            +benefit("benefit02", "Доставка и разгрузка без доплаты.", 'Мы доставим и разгрузим Вам дрова по Тюмени и в прилегающие районы, поселки и садовые общества. До 15 км от Тюмени при заказе от 3 кубов и более. Каждый последующий километр - 50 р/км. Территория доставки без доплаты.')
            +benefit("benefit03", "Низкие цены", 'У нас дешевле, чем у частников на обочине. В среднем на 310 руб за куб (ноябрь 2022)')
            +benefit("benefit04", "Доставка в удаленные районы", 'Мы доставляем дрова в удаленные от Тюмени районы, более 100 км. Звоните')
            +benefit("benefit05", "Заготовка дров спец. длины", 'Для Вас мы можем заготовить дрова специальной длины, например 20-30 см')
            +benefit("benefit06", "Удобная схема заказа. Оплата после доставки", 'Вам не нужно никуда ехать, не нужно искать дрова на обочинах Тюмени. Заказ дров производится по телефону 60-66-98 или на этом сайте. Оплата после получения. Возможен самовывоз')
            +benefit("benefit07", "Работаем в выходные дни", 'Специально для дачников и работающих в будни клиентов мы поменяли график работы, теперь мы работаем без выходных, семь дней в неделю, отдыхаем только на новый год, 5 дней. Часто мы идём на встречу клиентам и доставляем дрова в будни до 21:00')
            +benefit("benefit08", "Укладка дров", 'Мы экономим Ваше время, делая укладку дров в поленницу, быстро и аккуратно. 1 куб - 1 000 рублей')
            +benefit("benefit09", "Предоставим документы", 'Mы предоставим Вам товарный чек для отчета или получения помощи от государства в виде субсидий на дрова')
            +benefit("benefit10", "98,7% покупателей нами довольны", 'Мы не идеальны, но мы стараемся чтобы Вы остались довольны нашими услугами')
            +benefit("benefit11", "Хорошее качество древесины", 'Мы заготавливаем дрова из свежей древесины. Никаких отходов, вторичного сырья или горельника. Минимальное количество гнили и трухи. Можно заказать ручную сортировку дров, 100% без гнили')
            +benefit("benefit12", "Длина полена 40 см, колка средняя", 'Чтобы вы не переплачивали за спец. размер - мы изменили стандарт длины. Теперь длина полена ~40см (+-3см), колка средняя')
        // SLIDER НА МОБ ВЕРСИИ
        .benefits-slider-wrapper
            .swiper.benefits-slider
                .benefits-slider-top
                    span Листай вправо / влево
                    .benefits-slider-controls
                        // slider controls
                        button.slider-pr-prev#slider-prev-ben
                            svg.svg-arrow
                                use(href="./img/spriteSvg.svg#svg-left")
                        .swiper-pagination
                        button.slider-pr-next#slider-next-ben
                            svg.svg-right
                                use(href="./img/spriteSvg.svg#svg-right")
                .swiper-wrapper
                    .swiper-slide
                        +benefit("benefit01", "Честный объём", 'Вы получите дрова, а не воздух потому что мы валом. Никаких пустот и "колодцев" посередине машины, без обмана. Продаем в складочных кубометрах, укладка средняя, не сильно плотная')
                    .swiper-slide
                        +benefit("benefit02", "Доставка и разгрузка без доплаты.", 'Мы доставим и разгрузим Вам дрова по Тюмени и в прилегающие районы, поселки и садовые общества. До 15 км от Тюмени при заказе от 3 кубов и более. Каждый последующий километр - 50 р/км. Территория доставки без доплаты.')
                    .swiper-slide
                        +benefit("benefit03", "Низкие цены", 'У нас дешевле, чем у частников на обочине. В среднем на 310 руб за куб (ноябрь 2022)')
                    .swiper-slide
                        +benefit("benefit04", "Доставка в удаленные районы", 'Мы доставляем дрова в удаленные от Тюмени районы, более 100 км. Звоните')
                    .swiper-slide
                        +benefit("benefit05", "Заготовка дров спец. длины", 'Для Вас мы можем заготовить дрова специальной длины, например 20-30 см')
                    .swiper-slide
                        +benefit("benefit06", "Удобная схема заказа. Оплата после доставки", 'Вам не нужно никуда ехать, не нужно искать дрова на обочинах Тюмени. Заказ дров производится по телефону 60-66-98 или на этом сайте. Оплата после получения. Возможен самовывоз')
                    .swiper-slide
                        +benefit("benefit07", "Работаем в выходные дни", 'Специально для дачников и работающих в будни клиентов мы поменяли график работы, теперь мы работаем без выходных, семь дней в неделю, отдыхаем только на новый год, 5 дней. Часто мы идём на встречу клиентам и доставляем дрова в будни до 21:00')
                    .swiper-slide
                        +benefit("benefit08", "Укладка дров", 'Мы экономим Ваше время, делая укладку дров в поленницу, быстро и аккуратно. 1 куб - 1 000 рублей')
                    .swiper-slide
                        +benefit("benefit09", "Предоставим документы", 'Mы предоставим Вам товарный чек для отчета или получения помощи от государства в виде субсидий на дрова')
                    .swiper-slide
                        +benefit("benefit10", "98,7% покупателей нами довольны", 'Мы не идеальны, но мы стараемся чтобы Вы остались довольны нашими услугами')
                    .swiper-slide
                        +benefit("benefit11", "Хорошее качество древесины", 'Мы заготавливаем дрова из свежей древесины. Никаких отходов, вторичного сырья или горельника. Минимальное количество гнили и трухи. Можно заказать ручную сортировку дров, 100% без гнили')
                    .swiper-slide
                        +benefit("benefit12", "Длина полена 40 см, колка средняя", 'Чтобы вы не переплачивали за спец. размер - мы изменили стандарт длины. Теперь длина полена ~40см (+-3см), колка средняя')

