// CONTACTS
section.contacts(id="contacts")
    .container
        .contacts__title
            h2.section-title Контактная информация
        .contacts-wrapper
            // LEFT COLUMN
            .contacts-col
                ul.contacts__list
                    li
                        span Консультации и заказ:
                        .contacts__links
                            a(href="tel:+79292696698") +7-929-269-6698
                            span или
                            a(href="tel:+73452606698") 8 (3452) 60-66-98
                    li
                        span Наши мессенджеры:
                        .contacts__social
                            a(href="#!" target="_blank" rel="noopener noreferrer").social-link
                                img(src="./img/icons/wa.webp", alt="contact", width="45" height="45")
                            a(href="#!" target="_blank" rel="noopener noreferrer").social-link
                                img(src="./img/icons/viber.webp", alt="contact", width="45" height="45")
                            a(href="#!" target="_blank" rel="noopener noreferrer").social-link
                                img(src="./img/icons/telegram.webp", alt="contact", width="45" height="45")
                    li
                        span E-mail
                        .contacts__links
                            a(href="mailto:123@drova72.ru") 123@drova72.ru (общий)
                    li
                        span Cайты
                        .contacts__links
                            a(href="#!") drova72.ru
                            span или
                            a(href="#!") дрова72.рф
                    li
                        span Мы в соц.сетях
                        .contacts__social
                            a(href="#!" target="_blank" rel="noopener noreferrer").social-link
                                img(src="./img/icons/vk.webp", alt="icon", width="45" height="45")
                            a(href="#!" target="_blank" rel="noopener noreferrer").social-link
                                img(src="./img/icons/ok.webp", alt="icon", width="45" height="45")
                    li
                        span Сотрудничество с юридическими лицами
                        a(href="#!" target="_blank").btn.h-55 Подробнее
                    li
                        span Написать обращение/заявление по выполненному заказу
                        a(href="#!" target="_blank").btn.h-55 Написать
                .contacts-bottom
                    p Перед поездкой к нам - обязательно позвоните, чтобы мы смогли Вас встретить.
            // RIGHT COLUMN
            .contacts-info-col
                h4.contacts__subtitle График работы
                ul.contacts__info
                    li
                        span Прием заказов:
                        span.span-accent с 9.00 до 20.00, на сайте - круглосуточно.
                    li
                        span Доставка:
                        span.span-accent с 9.00 до 19.00
                    li
                        span Cамовывоз:
                        span.span-accent с 9.00 до 17.00
                h4.contacts__subtitle Как нас найти?
                ul.contacts__info
                    li
                        span Наша база и офис находятся по адресу:
                    li
                        span в яндексе
                        a(href="#!") ул. Тимофея Чаркова, дом 8 Б/7 (восемь бэ дробь семь)
                    li
                        span в 2ГИС
                        a(href="#!") ул. Тимофея Чаркова, дом 8Б/7
                        span.span-accent Более точный адрес в 2ГИС
                p В сторону бывшего миграционного центра, заезд с Тимофея Чаркова. Проезжаете мимо бывшего миграционного центра до конца улицы, держитесь правее. Когда "упрётесь" в КПП (ворота) - объясните охраннику что вы за дровами. Далее поварачиваем налево, а затем, через 30 метров - направо и прямо до большого, желтого баннера "ДРОВА".
                .contacts__btns
                    a(href="#!" target="_blank").btn.btn-accent Яндекс Навигатор
                    a(href="#!" target="_blank").btn.btn-accent2 2ГИС Навигатор
        // MAP & VIDEO
        .contacts-row
            .contacts__map
                img(src="./img/contacts/map.webp" srcset="./img/contacts/map@2x.webp 2x" alt="map", width="529", height="375")
            .contacts__video
                a(href="https://www.youtube.com/embed/__-vp0g_BhA?si=ATYLxRiZZo-EeydT" data-fancybox="video-about").contact__box
                    img(src="./img/contacts/video-card.webp" srcset="./img/contacts/video-card@2x.webp 2x" width="596" height="339" alt="img" loading="lazy")







