// CONTACTS
section.contacts
    .container
        .contacts__title
            h2.section-title Контактная информация
        .contacts-wrapper
            .contacts-col
                .contacts__list
                    li
                        span
                        a(href="#!")
            .contacts-info

