// DELIVERY
section.delivery
    .container
        .delivery-wrapper
            .delivery-col
                .delivery__title
                    h2.section-title Территория доставки без доплаты
                .delivery__text
                    p Доставка осуществляется по Тюмени и садовым обществам до 15 км от Тюмени, далее 50 руб/км. Смотрите карту, точный расчёт делает логист/мастер после оформления заказа.
                    p Из-за периодического изменения дорожной инфраструктуры и правил поворотов (запрет налево), возможно возникновения доплаты за расстояние, в случае если автомобилю нужно проехать по трассе до ближайшего разворота.
                .delivery__btn
                    .btn.btn--calc
                        span Рассчитать стоимость
                        img(src="./img/hero/btn-img.webp" srcset="./img/hero/btn-img@2x.webp 2x" alt="wood", width="93", height="73")
            .delivery__img
                img(src="./img/delivery.webp" srcset="./img/delivery@2x.webp 2x" alt="wood", width="619", height="510")
        // DISTRICTS
        h3.delivery__subtitle Районы без доплаты
        .districts-wrapper
            .district Антипино
            .district Березняки
            .district Боровский
            .district Букино
            .district Велижанский тракт 17 км
            .district Верхний бор
            .district Войновка
            .district Воронинские горки
            .district Горьковка
            .district Дербыши
            .district Ембаево
            .district Зайково
            .district Казарова
            .district Кулаково
            .district Лесобаза
            .district Луговое
            .district Мальково
            .district Метелёво
            .district ММС
            .district Московский
            .district МЫС
            .district Ожогино
            .district Падерина
            .district Патрушева
            .district Парёнкина
            .district Решетникова
            .district Субботина
            .district Суходолье
            .district Труфаново
            .district Тураева
            .district Яр
            .district.district-wide Не нашли свой район? &nbsp;
                a(href="#!") Спрашивайте
        .delivery__map
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A54422986a27efda0dd93c090a962102af38155d26e36783a74bf4063f9cfdd78&amp;source=constructor" width="1240" height="664" frameborder="0"></iframe>


