// DELIVERY
section.delivery
    .container
        .delivery-wrapper
            .delivery__title
                h2.section-title Территория доставки без доплаты
            .delivery__text
                p Доставка осуществляется по Тюмени и садовым обществам до 15 км от Тюмени, далее 50 руб/км. Смотрите карту, точный расчёт делает логист/мастер после оформления заказа.
                p Из-за периодического изменения дорожной инфраструктуры и правил поворотов (запрет налево), возможно возникновения доплаты за расстояние, в случае если автомобилю нужно проехать по трассе до ближайшего разворота.
            .delivery__btn
                .btn.btn--calc
                    span Рассчитать стоимость
                    img(src="./img/hero/btn-img.webp" srcset="./img/hero/btn-img@2x.webp 2x" alt="wood", width="93", height="73")
