// DISTRICTS
section.districts.none
    .container
        .districts-wrapper
            .district Антипино
            .district Березняки
            .district Боровский
            .district Букино
            .district Велижанский тракт 17 км
            .district Верхний бор
            .district Войновка
            .district Воронинские горки
            .district Горьковка
            .district Дербыши
            .district Ембаево
            .district Зайково
            .district Казарова
            .district Кулаково
            .district Лесобаза
            .district Луговое
            .district Мальково
            .district Метелёво
            .district ММС
            .district Московский
            .district МЫС
            .district Ожогино
            .district Падерина
            .district Патрушева
            .district Парёнкина
            .district Решетникова
            .district Субботина
            .district Суходолье
            .district Труфаново
            .district Тураева
            .district Яр
            .district.district-wide Не нашли свой район? &nbsp;
                a(href="#!") Спрашивайте
        .map
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A54422986a27efda0dd93c090a962102af38155d26e36783a74bf4063f9cfdd78&amp;source=constructor" width="1240" height="664" frameborder="0"></iframe>
