// FAQ
section.faq
    .container
        .faq__title
            h2.section-title Ответы на вопросы
        .faq-list
            // LIST ITEM
            .faq-list__item
                .faq-list__header(data-name="accordeon-title")
                    p.faq-list__title Какой длины дрова, как колем?
                    span.arrow
                        svg.svg-arrow-right
                            use(href="./img/spriteSvg.svg#svg-arrow-right")
                // HIDDEN
                .faq-list__content
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt eaque quod alias, magni, illum eligendi necessitatibus minus, beatae nemo nostrum pariatur repudiandae unde iure perspiciatis quis sint dolorum vel recusandae.
            // LIST ITEM
            .faq-list__item
                .faq-list__header(data-name="accordeon-title")
                    p.faq-list__title Можем напилить дрова покороче: 20-35 см?
                    span.arrow
                        svg.svg-arrow-right
                            use(href="./img/spriteSvg.svg#svg-arrow-right")
                // HIDDEN
                .faq-list__content
                    p Можем. Доплата за каждый куб +1 000 рублей, время выполнения заказа может увеличиться на 1-3 дня. Под ваш заказ будет выделен отдельный человек, который вручную напилит и наколит дрова.
            // LIST ITEM
            .faq-list__item
                .faq-list__header(data-name="accordeon-title")
                    p.faq-list__title Как укладываем дрова в машину и как считаем объём? ГОСТ, ТУ, стандарты.
                    span.arrow
                        svg.svg-arrow-right
                            use(href="./img/spriteSvg.svg#svg-arrow-right")
                // HIDDEN
                .faq-list__content
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex dignissimos esse sapiente ea temporibus, non fugiat totam harum voluptate laborum tempora at, suscipit unde quaerat eum tenetur expedita id voluptatem?
            // LIST ITEM
            .faq-list__item
                .faq-list__header(data-name="accordeon-title")
                    p.faq-list__title Делаем ли мы укладку дров в поленницу?
                    span.arrow
                        svg.svg-arrow-right
                            use(href="./img/spriteSvg.svg#svg-arrow-right")
                // HIDDEN
                .faq-list__content
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi delectus aliquid sit tenetur, iusto consectetur unde vel rem atque nemo voluptatibus voluptatem voluptatum eum quasi ratione facere. Facilis, expedita impedit.
            // LIST ITEM
            .faq-list__item
                .faq-list__header(data-name="accordeon-title")
                    p.faq-list__title В каких единицах измерения продаем дрова?
                    span.arrow
                        svg.svg-arrow-right
                            use(href="./img/spriteSvg.svg#svg-arrow-right")
                // HIDDEN
                .faq-list__content
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel harum hic ratione labore architecto ex quam eum odio similique quae ab a officia, ad, sit illo minus commodi est. Pariatur!
            // LIST ITEM
            .faq-list__item
                .faq-list__header(data-name="accordeon-title")
                    p.faq-list__title Какие дрова: сырые, подсушенные, сухие, какое качество?
                    span.arrow
                        svg.svg-arrow-right
                            use(href="./img/spriteSvg.svg#svg-arrow-right")
                // HIDDEN
                .faq-list__content
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel harum hic ratione labore architecto ex quam eum odio similique quae ab a officia, ad, sit illo minus commodi est. Pariatur!
            // LIST ITEM
            .faq-list__item
                .faq-list__header(data-name="accordeon-title")
                    p.faq-list__title Какими автомобилями доставляем дрова?
                    span.arrow
                        svg.svg-arrow-right
                            use(href="./img/spriteSvg.svg#svg-arrow-right")
                // HIDDEN
                .faq-list__content
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel harum hic ratione labore architecto ex quam eum odio similique quae ab a officia, ad, sit illo minus commodi est. Pariatur!
            // LIST ITEM
            .faq-list__item
                .faq-list__header(data-name="accordeon-title")
                    p.faq-list__title Как проверить объём? Точно ли там заявленный объём?
                    span.arrow
                        svg.svg-arrow-right
                            use(href="./img/spriteSvg.svg#svg-arrow-right")
                // HIDDEN
                .faq-list__content
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel harum hic ratione labore architecto ex quam eum odio similique quae ab a officia, ad, sit illo minus commodi est. Pariatur!
            // LIST ITEM
            .faq-list__item
                .faq-list__header(data-name="accordeon-title")
                    p.faq-list__title Как проверить дрова перед покупкой? Хочу посмотреть на дрова.
                    span.arrow
                        svg.svg-arrow-right
                            use(href="./img/spriteSvg.svg#svg-arrow-right")
                // HIDDEN
                .faq-list__content
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel harum hic ratione labore architecto ex quam eum odio similique quae ab a officia, ad, sit illo minus commodi est. Pariatur!
            // LIST ITEM
            .faq-list__item
                .faq-list__header(data-name="accordeon-title")
                    p.faq-list__title Доставка и разгрузка дров бесплатная? Как разгружаете дрова?
                    span.arrow
                        svg.svg-arrow-right
                            use(href="./img/spriteSvg.svg#svg-arrow-right")
                // HIDDEN
                .faq-list__content
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel harum hic ratione labore architecto ex quam eum odio similique quae ab a officia, ad, sit illo minus commodi est. Pariatur!
            // LIST ITEM
            .faq-list__item
                .faq-list__header(data-name="accordeon-title")
                    p.faq-list__title Сколько весит 1 складочный куб березовых дров?
                    span.arrow
                        svg.svg-arrow-right
                            use(href="./img/spriteSvg.svg#svg-arrow-right")
                // HIDDEN
                .faq-list__content
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel harum hic ratione labore architecto ex quam eum odio similique quae ab a officia, ad, sit illo minus commodi est. Pariatur!
            // LIST ITEM
            .faq-list__item
                .faq-list__header(data-name="accordeon-title")
                    p.faq-list__title Газель удлинённая может увезти 6 кубов дров?
                    span.arrow
                        svg.svg-arrow-right
                            use(href="./img/spriteSvg.svg#svg-arrow-right")
                // HIDDEN
                .faq-list__content
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel harum hic ratione labore architecto ex quam eum odio similique quae ab a officia, ad, sit illo minus commodi est. Pariatur!
            // LIST ITEM
            .faq-list__item
                .faq-list__header(data-name="accordeon-title")
                    p.faq-list__title Подробнее про гарантию
                    span.arrow
                        svg.svg-arrow-right
                            use(href="./img/spriteSvg.svg#svg-arrow-right")
                // HIDDEN
                .faq-list__content
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel harum hic ratione labore architecto ex quam eum odio similique quae ab a officia, ad, sit illo minus commodi est. Pariatur!
            // LIST ITEM
            .faq-list__item
                .faq-list__header(data-name="accordeon-title")
                    p.faq-list__title Как выглядят подарочные сетки с растопкой? Какой размер/объём сетки?
                    span.arrow
                        svg.svg-arrow-right
                            use(href="./img/spriteSvg.svg#svg-arrow-right")
                // HIDDEN
                .faq-list__content
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel harum hic ratione labore architecto ex quam eum odio similique quae ab a officia, ad, sit illo minus commodi est. Pariatur!
            // LIST ITEM
            .faq-list__item
                .faq-list__header(data-name="accordeon-title")
                    p.faq-list__title Как быстро привёзете дрова? Какой срок доставки?
                    span.arrow
                        svg.svg-arrow-right
                            use(href="./img/spriteSvg.svg#svg-arrow-right")
                // HIDDEN
                .faq-list__content
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel harum hic ratione labore architecto ex quam eum odio similique quae ab a officia, ad, sit illo minus commodi est. Pariatur!

