// FAQ
section.faq
    .container
        .faq__title
            h2.section-title Ответы на вопросы
        .faq-list
            .faq-list__item
                .faq-list__header(data-name="accordeon-title")
                    h3.faq-list__title Какой длины дрова, как колем?
                    span.arrow
                        
                // HIDDEN
                .faq-list__content Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt eaque quod alias, magni, illum eligendi necessitatibus minus, beatae nemo nostrum pariatur repudiandae unde iure perspiciatis quis sint dolorum vel recusandae.
            .faq-list__item
                .faq-list__header(data-name="accordeon-title")
                    h3.faq-list__title Какой длины дрова, как колем?
                    span
                // HIDDEN
                .faq-list__content Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt eaque quod alias, magni, illum eligendi necessitatibus minus, beatae nemo nostrum pariatur repudiandae unde iure perspiciatis quis sint dolorum vel recusandae.

