header.header
   // HEADER TOP ROW
   .header-top
      .container
         .header-row
            a(href="#!").header-logo
               img(src="./img/logo.webp" srcset="./img/logo@2x.webp" alt="logo" width="67" height="90" loading="lazy")
            .header-wrapper
               .header-contacts
                  .header-col
                     a(href="#contacts").contact-link
                        img(src="./img/icons/clock.webp", alt="icon", width="20" height="20")
                        span Ежедневно 9.00-21.00
                     a(href="#!" target="_blank").contact-link
                        img(src="./img/icons/partners.webp", alt="contact", width="20" height="20")
                        span Юридическим лицам
                  .header-col-mob
                     a(href="#!").header-logo-mob
                        img(src="./img/logo.webp" srcset="./img/logo@2x.webp" alt="logo" width="67" height="90" loading="lazy")
                     .links-wrapper-mob
                        a(href="tel:+73452606698" target="_blank").contact-link
                           img(src="./img/icons/telephone.webp", alt="icon", width="20" height="20")
                           span +7 (3452) 60-66-98
                        a(href="tel:+79292696698" target="_blank").contact-link
                           img(src="./img/icons/mobile.webp", alt="icon", width="20" height="20")
                           span +7 (929) 269-66-98
               .header-btns
                  .social-block
                     a(href="#!" target="_blank").social-link
                        img(src="./img/icons/viber.webp", alt="icon", width="45" height="45")
                     a(href="#!" target="_blank").social-link
                        img(src="./img/icons/wa.webp", alt="icon", width="45" height="45")
                     a(href="#!" target="_blank").social-link
                        img(src="./img/icons/telegram.webp", alt="icon", width="45" height="45")
                  button.btn.pulse Заказать звонок
   // HEADER MENU
   .header-menu
      .container
         button.menu-open Меню сайта
         nav.menu
            a(href="#products") Дрова
            a(href="#products") Пиломатериалы
            a(href="#reviews") Настоящие отзывы
            a(href="#faq") Вопрос/ответ
            a(href="#contacts") Контакты
            a(href="#!") Полезное/Подарок


