header.header
   // HEADER TOP ROW
   .header-top
      .container
         .header-row
            a(href="#!").header-logo
               img(src="./img/logo.webp" srcset="./img/logo@2x.webp" alt="logo" width="67" height="90" loading="lasy")
            .header-wrapper
               .header-contacts
                  .header-col
                     a(href="#!" target="_blank" rel="noopener noreferrer").contact-link
                        img(src="./img/icons/clock@2x.webp", alt="contact", width="20")
                        span Ежедневно 9.00-21.00
                     a(href="#!" target="_blank" rel="noopener noreferrer").contact-link
                        img(src="./img/icons/partners@2x.webp", alt="contact", width="20")
                        span Юридическим лицам
                  .header-col
                     a(href="#!" target="_blank" rel="noopener noreferrer").contact-link
                        img(src="./img/icons/telephone@2x.webp", alt="contact", width="20")
                        span +7 (3452) 60-66-98
                     a(href="#!" target="_blank" rel="noopener noreferrer").contact-link
                        img(src="./img/icons/mobile@2x.webp", alt="contact", width="20")
                        span +7 (929) 269-66-98
               .header-btns
                  .social-block
                     a(href="#!" target="_blank" rel="noopener noreferrer").social-link
                        img(src="./img/icons/viber@2x.webp", alt="contact", width="45")
                     a(href="#!" target="_blank" rel="noopener noreferrer").social-link
                        img(src="./img/icons/wa@2x.webp", alt="contact", width="45")
                     a(href="#!" target="_blank" rel="noopener noreferrer").social-link
                        img(src="./img/icons/telegram@2x.webp", alt="contact", width="45")
                  button.btn Заказать звонок
   // HEADER MENU
   .header-menu
      .container
         nav.menu
            a(href="#!") Дрова
            a(href="#!") Пиломатериалы
            a(href="#!") Отзывы
            a(href="#!") Вопрос/ответ
            a(href="#!") Контакты
            a(href="#!") Полезное


