// HERO
section.hero.none
    .container
        .hero-content
            .hero__title
                h1.headline Дрова и пиломатериалы от производителя в Тюмени
            p.hero__text Гарантируем, объём дров в кузове деньгами или вернём разницу *
            .hero__calc
                .btn.btn--calc
                    span Рассчитать стоимость
                    img(src="./img/hero/btn-img@2x.webp", alt="wood", width="93", height="73")
                span.hero__info Цены актуальны до 03.12.2026
            .hero__images
                .hero__firewood
                    img(src="./img/hero/firewood@2x.webp", alt="firewood", width="495", height="557")
                .hero__cone-lg
                    img(src="./img/hero/cone-l@2x.webp", alt="cone", width="296", height="368")
                .hero__cone-md
                    img(src="./img/hero/cone@2x.webp", alt="cone", width="230")
                .hero__cone-sm
                    img(src="./img/hero/cone-s@2x.webp", alt="cone", width="180")


