// INFO
section.info
    .container
        .info__title
           h3.accent-subtitle Важно!
        p.info__text Информация на сайте не является публичной офертой. Информация на сайте может обновляться с задержкой. Актуальную инофрмацию, стоимость товаров, условия оплаты, доставки и самовывоза уточняйте по телефонам или электронной почте в разделе Контактная информация. <br> Информация, предоставленная по телефону или почте - актуальна не более 24 часов с момента предоставления.
