// PRODUCTS
section.products(id="products")
    .container
        .products__title
            h2.section-title Цены на дрова
        .products-slider-wrapper
            // SLIDER
            .swiper.products-slider
                .swiper-wrapper
                    .swiper-slide
                        +product({
                            title: 'Березовые колотые',
                            accent: 'с доставкой',
                            img: 'product01',
                            list: [
                                {quantity: '2 куб', info: 'с доставкой', price: '6 990 р.'},
                                {quantity: '3 куб', info: '(1 куб 2967р.)', price: '8 900 р.'},
                                {quantity: '4 куб', info: '(1 куб 2925р.)', price: '11 700 p.'},
                                {quantity: '5 куб', info: '(1 куб 2920р.)', price: '14 600 р.'},
                                {quantity: '6 куб', info: '(1 куб 2900р.)', price: '17 400 р.'},
                            ],

                        })
                    .swiper-slide
                        +product({
                            title: 'Дрова, сосна, осина',
                            img: 'product02',
                            list: [
                                {quantity: '1 пачка', info: 'самовывоз', price: '349 р.'},
                                {quantity: '6-7 куб', info: 'доставка', price: '2 490 р.'},
                            ],
                            desc: 'Сосновая/осиновая срезка и горбыль, в пачках по ~1.2-1.5 куба, самовывоз или с доставкой и разгрузкой по 5 пачек в кузове ~6-7 кубов.',
                        })
                    .swiper-slide
                        +product({
                            title: 'Березовые колотые',
                            accent: 'самовывоз',
                            img: 'product03',
                            list: [
                                {quantity: '2 куб', info: 'с доставкой', price: '2 490 р.'},
                                {quantity: '3 куб', info: '(1 куб 2967р.)', price: '7 470 р.'},
                                {quantity: '6 куб', info: '(1 куб 2925р.)', price: '14 940 р.'},
                            ],
                        })
                    .swiper-slide
                        +product({
                            title: 'Береза + осина колотые',
                            img: 'product04',
                            list: [
                                {quantity: '3 куб (2+1)', info: '', price: '8 500 р.'},
                                {quantity: '6 куб (4+2)', info: '', price: '16 000 р.'},
                            ],
                            desc: 'береза + сухая осина',
                        })
                    .swiper-slide
                        +product({
                            title: 'Берёза разноразмерная',
                            img: 'product05',
                            list: [
                                {quantity: '2 куб', info: 'самовывоз', price: '1 650 р.'},
                                {quantity: '3 куб', info: 'самовывоз', price: '5 990 р.'},
                                {quantity: '3 куб', info: 'с доставкой', price: '6 700 р.'},
                            ],
                        })
                    .swiper-slide
                        +product({
                            title: 'Карандаш березовый',
                            img: 'product06',
                            list: [
                                {quantity: '1 куб', info: '', price: '2 500 р.'},
                            ],
                            desc: 'уже распилен, до 45 см',
                        })
                    .swiper-slide
                        +product({
                            title: 'Осиновые колотые',
                            img: 'product07',
                            list: [
                                {quantity: '1 куб', info: '', price: 'от 2 390 р.'},
                            ],
                        })
                    .swiper-slide
                        +product({
                            title: 'Некондиция, комель',
                            img: 'product08',
                            list: [
                                {quantity: '1 куб', info: '', price: '1 490 р.'},
                            ],
                        })
                    .swiper-slide
                        +product({
                            title: 'Дрова в сетках',
                            img: 'product09',
                            list: [
                                {quantity: 'от 4 до 13 полений', info: '', price: 'от 69р. до 190 р.'},
                            ],
                        })
