// PRODUCTS
section.products.none
    .container
        .products__title
            h2.section-title Цены на дрова
        .products-slider-wrapper
            // SLIDER
            .swiper.products-slider
                .swiper-wrapper
                    // SLIDE
                    .swiper-slide
                        .product-card
                            h3.product-card__title Березовые колотые
                                span (c доставкой)
                            .product-card__img
                                img(src="./img/products/product01.webp" srcset="./img/products/product01@2x.webp 2x" width height alt="product" loading="lazy")
                            .product-card__row
                                .product-card__col
                                    .product-card__quantity 2 куб
                                    .product-card__info с доставкой
                                .product-card__price 6990 р.
                            .product-card__row
                                .product-card__col
                                    .product-card__quantity 3 куб
                                    .product-card__info (1 куб 2967р.)
                                .product-card__price 8900 р.
                            .product-card__btn
                                button.btn-order Заказать
                    .swiper-slide
                        +product("Березовые колотые", "product01", "2 куб", "6990 р.", "c доставкой", "с доставкой")
