// RATING
section.rating
    .container
        h3.rating__title Более 800 отзывов на 2Гис, Фламп, Яндекс, Гугл, Авито
        .rating-row
            .rating-block
                .rating-text Смотреть отзывы
                .stars-rating-wrapper(data-rating="4.5")
                    .stars-rating-accent.js-stars
                    .stars-rating-disabled
            .rating-icons