// TESTIMONIALS
section.testimonials
    .container
        .testimonials__title
            h2.section-title Отзывы. Наши клиенты про нас.
        .testimonials-videos__title
            h3.section-subtitle Видео отзывы
        // TESTIMONIALS VIDEO
        .testimonials-videos
            .testimonial-video
                a(href="https://www.youtube.com/embed/__-vp0g_BhA?si=ATYLxRiZZo-EeydT" data-fancybox="video-testimonial").testimonials-video__box
                    img(src="./img/production/video-poster.webp" srcset="./img/production/video-poster@2x.webp 2x" width="397" height="226" alt="img" loading="lazy")
            .testimonial-video
                a(href="https://www.youtube.com/embed/__-vp0g_BhA?si=ATYLxRiZZo-EeydT" data-fancybox="video-testimonial").testimonials-video__box
                    img(src="./img/production/video-poster.webp" srcset="./img/production/video-poster@2x.webp 2x" width="397" height="226" alt="img" loading="lazy")
            .testimonial-video
                a(href="https://www.youtube.com/embed/__-vp0g_BhA?si=ATYLxRiZZo-EeydT" data-fancybox="video-testimonial").testimonials-video__box
                    img(src="./img/production/video-poster.webp" srcset="./img/production/video-poster@2x.webp 2x" width="397" height="226" alt="img" loading="lazy")
        // TESTIMONIALS PHOTOS
        .testimonials-photo
            .testimonials-videos__title
                h3.section-subtitle Фотографии
            // PHOTO SLIDER
            .slider-wrapper
                .swiper.testimonials-photo-slider
                    .swiper-wrapper
                        .swiper-slide
                            img(src="./img/testimonials/pilorama01.webp" srcset="./img/testimonials/pilorama01@2x.webp 2x" width="309" height="210" alt="img" loading="lazy")
                        .swiper-slide
                            img(src="./img/auto/auto1.webp" srcset="./img/auto/auto1@2x.webp 2x" width="309" height="210" alt="img" loading="lazy")
                        .swiper-slide
                            img(src="./img/testimonials/pilorama02.webp" srcset="./img/testimonials/pilorama02@2x.webp 2x" width="309" height="210" alt="img" loading="lazy")
                        .swiper-slide
                            img(src="./img/testimonials/pilorama03.webp" srcset="./img/testimonials/pilorama03@2x.webp 2x" width="309" height="210" alt="img" loading="lazy")
                        .swiper-slide
                            img(src="./img/testimonials/pilorama04.webp" srcset="./img/testimonials/pilorama04@2x.webp 2x" width="309" height="210" alt="img" loading="lazy")
                // slider controls
                button.slider-prev#slider-prev-tes
                    svg.svg-prev
                        use(href="./img/spriteSvg.svg#svg-prev")
                button.slider-next#slider-next-tes
                    svg.svg-next
                        use(href="./img/spriteSvg.svg#svg-next")
        .testimonials-videos__title
            h3.section-subtitle Реальные отзывы в соц. сетях
        .testimonials-videos__title
            h3.section-subtitle Отзывы на независимых площадках
        // LOGO SLIDER
        .swiper.testimonials-logo-slider
            .swiper-wrapper
                .swiper-slide
                    a(href="!#").logo
                        img(src="./img/logo/yandex.webp" srcset="./img/logo/yandex@2x.webp 2x" width="219" height="73" alt="img")
                .swiper-slide
                    a(href="!#").logo
                        img(src="./img/logo/avito.webp" srcset="./img/logo/avito@2x.webp 2x" width="219" height="73" alt="img")
                .swiper-slide
                    a(href="!#").logo
                        img(src="./img/logo/2gis.webp" srcset="./img/logo/2gis@2x.webp 2x" width="219" height="73" alt="img")
                .swiper-slide
                    a(href="!#").logo
                        img(src="./img/logo/google.webp" srcset="./img/logo/google@2x.webp 2x" width="219" height="73" alt="img")
                .swiper-slide
                    a(href="!#").logo
                        img(src="./img/logo/flamp.webp" srcset="./img/logo/flamp@2x.webp 2x" width="219" height="73" alt="img")
                .swiper-slide
                    a(href="!#").logo
                        img(src="./img/logo/yandex.webp" srcset="./img/logo/yandex@2x.webp 2x" width="219" height="73" alt="img")
                .swiper-slide
                    a(href="!#").logo
                        img(src="./img/logo/avito.webp" srcset="./img/logo/avito@2x.webp 2x" width="219" height="73" alt="img")
                .swiper-slide
                    a(href="!#").logo
                        img(src="./img/logo/2gis.webp" srcset="./img/logo/2gis@2x.webp 2x" width="219" height="73" alt="img")
                .swiper-slide
                    a(href="!#").logo
                        img(src="./img/logo/google.webp" srcset="./img/logo/google@2x.webp 2x" width="219" height="73" alt="img")
                .swiper-slide
                    a(href="!#").logo
                        img(src="./img/logo/flamp.webp" srcset="./img/logo/flamp@2x.webp 2x" width="219" height="73" alt="img")
        // MEDIA
        .testimonials-media
            .media-text
                .testimonials-videos__title
                    h3.section-subtitle СМИ о нас
                p Растём и развиваемся. В 2014 году к нам приезжал канал "СТС-Ладья" узнать цены на дрова для телепередачи "Точнее".
                .accent-block
                    .testimonials-videos__title
                        h3.section-subtitle.section-subtitle--accent Мошенники!
                    p Внимание, мошенники предлагают товар от нашего имени с большой скидкой, с условием 100% предоплаты на карту. &nbsp;
                        a(href="#!") Подробнее в группе.
            .media-video
                .testimonial-video
                    a(href="https://www.youtube.com/embed/__-vp0g_BhA?si=ATYLxRiZZo-EeydT" data-fancybox="media").testimonials-video__box
                        img(src="./img/media.webp" srcset="./img/media@2x.webp 2x" width="867" height="474" alt="img" loading="lazy")





