// TESTIMONIALS
section.testimonials
    .container
        .testimonials__title
            h2.section-title Отзывы. Наши клиенты про нас.
        .testimonials-videos__title
            h3.section-subtitle Видео отзывы
        // TESTIMONIALS VIDEO
        .testimonials-videos
            .testimonial-video
                a(href="https://www.youtube.com/embed/__-vp0g_BhA?si=ATYLxRiZZo-EeydT" data-fancybox="video-testimonial").testimonials-video__box
                    img(src="./img/production/video-poster.webp" srcset="./img/production/video-poster@2x.webp 2x" width="397" height="226" alt="img" loading="lazy")
            .testimonial-video
                a(href="https://www.youtube.com/embed/__-vp0g_BhA?si=ATYLxRiZZo-EeydT" data-fancybox="video-testimonial").testimonials-video__box
                    img(src="./img/production/video-poster.webp" srcset="./img/production/video-poster@2x.webp 2x" width="397" height="226" alt="img" loading="lazy")
            .testimonial-video
                a(href="https://www.youtube.com/embed/__-vp0g_BhA?si=ATYLxRiZZo-EeydT" data-fancybox="video-testimonial").testimonials-video__box
                    img(src="./img/production/video-poster.webp" srcset="./img/production/video-poster@2x.webp 2x" width="397" height="226" alt="img" loading="lazy")
        // TESTIMONIALS PHOTOS
        .testimonials-photo
            .testimonials-videos__title
                h3.section-subtitle Фотографии
            // SLIDER
            .slider-wrapper
                .swiper.testimonials-photo-slider
                    .swiper-wrapper
                        .swiper-slide
                            img(src="./img/testimonials/pilorama01.webp" srcset="./img/testimonials/pilorama01@2x.webp 2x" width="309" height="210" alt="img" loading="lazy")
                        .swiper-slide
                            img(src="./img/auto/auto1.webp" srcset="./img/auto/auto1@2x.webp 2x" width="309" height="210" alt="img" loading="lazy")
                        .swiper-slide
                            img(src="./img/testimonials/pilorama02.webp" srcset="./img/testimonials/pilorama02@2x.webp 2x" width="309" height="210" alt="img" loading="lazy")
                        .swiper-slide
                            img(src="./img/testimonials/pilorama03.webp" srcset="./img/testimonials/pilorama03@2x.webp 2x" width="309" height="210" alt="img" loading="lazy")
                        .swiper-slide
                            img(src="./img/testimonials/pilorama04.webp" srcset="./img/testimonials/pilorama04@2x.webp 2x" width="309" height="210" alt="img" loading="lazy")
                // slider controls
                button.slider-prev#slider-prev-tes
                    svg.svg-prev
                        use(href="./img/spriteSvg.svg#svg-prev")
                button.slider-next#slider-next-tes
                    svg.svg-next
                        use(href="./img/spriteSvg.svg#svg-next")


