.benefit-card {
    width: 31.5%;
    height: 227px;
    position: relative;
    padding: 80px 20px 20px 20px;
    border: 2px solid rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    background-color: rgba(217, 217, 217, 0.15);
}

.benefit-card:nth-child(5n + 1), .benefit-card:nth-child(5n + 2) {
    width: 45.4%;
    height: 284px;
}

.benefit-card__img {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 75px;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    background-color: var(--accent-color);
}

.benefit-card__title {
    margin-bottom: 4px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.75;
    color: var(--accent-color);
}

.benefit-card__text {
    line-height: 1.81;
}