.btn {
    display: inline-block;

    padding: 0 25px;
    height: 45px;

    border-radius: 5px;
    border: none;

    background-color: var(--accent-color);

    color: #fff;
    text-align: center;
    font-family: var(--second-family);
    font-size: 17px;
    line-height: 45px;
    white-space: nowrap;

    transition: background-color 0.2s ease-in;
    cursor: pointer;

    &:hover {
        background-color: lighten($color: #44a603, $amount: 5%);;
    }
}

.h-55 {
    height: 55px;
    line-height: 55px;
    font-weight: 700;
    min-width: 210px;
}

.btn--reviews {
    height: 60px;
    line-height: 60px;
    background-color: #0477fe;
    font-weight: 700;

    &:hover {
        background-color: lighten($color: #0477fe, $amount: 5%);;
    }
}

.btn--calc {
    display: inline-flex;
    width: 310px;
    height: 56px;
    column-gap: 20px;
    font-weight: 700;
    padding: 0 15px;
    line-height: 56px;

    img {
        width: 93px;
        height: 73px;
        position: relative;
        top: -20px;
    }
}

.btn-order {
    display: inline-flex;
    height: 60px;
    padding: 0 40px;

    font-family: inherit;
    font-weight: 700;
    font-size: 17px;
    line-height: 60px;
    color: #fff;
    text-align: center;

    border-radius: 5px;
    background-color: #584340;

    white-space: nowrap;

    transition: background-color 0.2s ease-in;
    cursor: pointer;

    &:hover {
        background-color: lighten($color: #584340, $amount: 5%);;
    }
}

.btn-accent {
    min-width: 240px;
    height: 55px;
    background-color: #f8ee00;
    line-height: 55px;
    color: #000;
    font-weight: 700;

    &:hover {
        background-color: lighten($color: #f8ee00, $amount: 5%);;
    }
}

.btn-accent2 {
    min-width: 240px;
    height: 55px;
    background-color:  #b5c94d;
    line-height: 55px;
    color: #fff;
    font-weight: 700;

    &:hover {
        background-color: lighten($color: #b5c94d, $amount: 5%);;
    }
}