.btn {
    display: inline-block;

    padding: 0 25px;
    height: 45px;

    border-radius: 5px;
    border: none;

    background-color: var(--accent-color);

    color: #fff;
    text-align: center;
    font-family: var(--second-family);
    font-size: 17px;
    line-height: 45px;
    white-space: nowrap;

    transition: background-color 0.2s ease-in;
    cursor: pointer;

    animation: pulse 1.5s infinite;

    &:hover {
        background-color: lighten($color: #44a603, $amount: 5%);;
    }
}

.h-55 {
    height: 55px;
    line-height: 55px;
    font-weight: 700;
    min-width: 210px;

    animation: none;
}

.btn--reviews {
    height: 60px;
    line-height: 60px;
    background-color: #0477fe;
    font-weight: 700;
    padding: 0 45px;

    animation: none;

    &:hover {
        background-color: lighten($color: #0477fe, $amount: 5%);;
    }

    @media (max-width: 420px) {
        width: 100%;
    }
}

.btn--calc {
    display: inline-flex;
    width: 310px;
    height: 56px;
    column-gap: 20px;
    font-weight: 700;
    padding: 0 15px;
    line-height: 56px;
    animation: none;

    img {
        width: 93px;
        height: 73px;
        position: relative;
        top: -20px;

        @media (max-width: 374px) {
            width: remy2(93);
            height: remy2(73);
            top: remy2(-20);
        }
    }

    @media (max-width: 374px) {
        width: remy2(310);
        height: remy2(56);
        column-gap: remy2(20);
        padding: 0 remy2(15);
        line-height: remy2(56);
    }
}

.btn-order {
    display: inline-flex;
    height: 60px;
    padding: 0 40px;

    font-family: var(--second-family);
    font-weight: 700;
    font-size: 17px;
    line-height: 60px;
    color: #fff;
    text-align: center;

    border-radius: 5px;
    background-color: #584340;

    white-space: nowrap;

    transition: background-color 0.2s ease-in;
    cursor: pointer;

    animation: none;

    &:hover {
        background-color: lighten($color: #584340, $amount: 5%);;
    }
}

.btn-accent {
    width: 240px;
    height: 55px;
    background-color: #f8ee00;
    line-height: 55px;
    color: #000;
    font-weight: 700;

    animation: none;

    &:hover {
        background-color: lighten($color: #f8ee00, $amount: 5%);;
    }
}

.btn-accent2 {
    width: 240px;
    height: 55px;
    background-color:  #b5c94d;
    line-height: 55px;
    color: #fff;
    font-weight: 700;

    animation: none;

    &:hover {
        background-color: lighten($color: #b5c94d, $amount: 5%);;
    }
}

@keyframes pulse {
    0%   { transform: scale(1); }
    50%  { transform: scale(1.05); }
    100% { transform: scale(1); }
  }

  .element {
    animation: pulse 1.5s infinite;
  }