.product-card {
    display: flex;
    flex-direction: column;
    width: 380px;
    padding: 20px 25px;
    background: rgba(217, 217, 217, 0.15);
    border: 2px solid rgba(0, 0, 0, 0.08);
    border-radius: 10px;

}

.product-card__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;

    span {
        margin-left: 5px;
        color: var(--accent-color);
    }
}

.product-card__img {
    margin-bottom: 17px;
    flex-shrink: 0;
    width: 318px;
    height: 181px;
    overflow: hidden;
    border: 4px solid #584340;
    border-radius: 10px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.product-card__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}

.product-card__row {
    margin-bottom: 10px;
}

.product-card__col {
    display: flex;
    align-items: center;
    column-gap: 6px;
}

.product-card__quantity {
    min-width: 45px;
    font-size: 17px;
}

.product-card__info {
    font-size: 13px;
}

.product-card__price {
    font-weight: 700;
    font-size: 17px;
    color: var(--accent-color);
}

.product-card__btn {
    flex-grow: 1;
}