/* ======== product card ========= */
.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 20px 25px;
    background: rgba(217, 217, 217, 0.15);
    border: 2px solid rgba(0, 0, 0, 0.08);
    border-radius: 10px;

    @media (max-width: 440px) {
        // padding: 10px 25px;
    }

}

.product-card__title {
    margin-bottom: 8px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 20px;

    span {
        margin-left: 5px;
        color: var(--accent-color);
    }


    @media (max-width: 440px) {
        font-size: 17px;
    }
}

.product-card__img {
    margin-bottom: 29px;
    flex-shrink: 0;
    width: 318px;
    height: 181px;
    overflow: hidden;
    border: 4px solid #584340;
    border-radius: 10px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @media (max-width: 440px) {
        width: 297px;
        height: 181px;
    }
    @media (max-width: 375px) {
        width: 100%;
    }
}

.product-card__list {
    margin-bottom: 23px;
}

.product-card__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}

.product-card__row:not(:last-child) {
    margin-bottom: 16px;
}

.product-card__col {
    display: flex;
    align-items: center;
    column-gap: 6px;
}

.product-card__quantity {
    min-width: 45px;
    font-size: 17px;
}

.product-card__info {
    font-size: 13px;
}

.product-card__price {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 17px;
    color: var(--accent-color);
}

.product-card__desc {
    // margin-bottom: 55px;
    line-height: 1.8;
    font-size: 14px;
}

.product-card__btn {
    margin-top: auto;
}