mixin auto(img, name, desc)
    // AUTO CARD
    .auto
        .auto__img
            img(src="./img/auto/" + "img" + "webp" srcset="./img/auto/" + img + "@2x.webp" alt="auto" loading="lazy")
        h3.auto__name !{name}
        .auto__desc !{desc}