mixin benefit(img, title, text)
    // BENEFIT CARD
    .benefit-card
        .benefit-card__img
            img(src="./img/benefits/" + img + ".webp" width="60" height="60" alt="img")
        h3.benefit-card__title !{title}
        .benefit-card__text !{text}