extends ../layouts/layout.pug

block variables
	-var title = "Page";

block content
	include ../sections/header.pug
	main
		include ../sections/hero.pug
		include ../sections/advantages.pug
		include ../sections/calculator.pug
		include ../sections/info.pug
		include ../sections/products.pug
		include ../sections/about.pug
		include ../sections/production.pug
		include ../sections/delivery.pug
	include ../sections/footer.pug






