@import "./base/_var";
@import "./base/_base";
@import "./base/_icons";

//blocks

// @import "./blocks/social";
// @import "./blocks/menu-burger";
@import "./blocks/btns";
@import "./blocks/product-card";
// @import "./blocks/btn-gradient";
// @import "./blocks/benefits-item";
// @import "./blocks/products-slider";
// @import "./blocks/product-card";
// @import "./blocks/review-card";

//sections

 @import "./sections/header";
 @import "./sections/hero";
 @import "./sections/advantages";
 @import "./sections/rating";
 @import "./sections/calculator";
 @import "./sections/info";
 @import "./sections/products";
 @import "./sections/about";
 @import "./sections/production";
 @import "./sections/delivery";
 @import "./sections/footer";

